body{
    background-color: rgb(218, 140, 179);
}
h1{
    letter-spacing: 30px;
    word-spacing: 20px;
    text-transform: capitalize;
    text-align: center;
}
p{
    text-transform: lowercase;
    text-align: center;
}
h2{
    color: white;
    height: 250px;
    width: 850px;
    background-color: rgb(129, 27, 27);
    padding: 50px 50px 100px 40px;
    margin: 50px 50px 50px 70px;
    border-top: 10px double rgb(80, 2, 80);
    border-right: 10px solid rgb(113, 136, 70);
    border-bottom: 10px solid rgb(40, 145, 27);
    border-left: 10px solid rgb(17, 17, 194);
}
a{
    background-color: rgb(116, 29, 29);
    text-decoration: underline;
    padding: 10px;
    color: beige;
}
a:hover{
    background-color: darkturquoise;
}